<%= form_with(model: trip) do |form| %>
  <% if trip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tripName, style: "display: block" %>
    <%= form.text_field :tripName %>
  </div>

  <div>
    <%= form.label :startDate, style: "display: block" %>
    <%= form.date_field :startDate %>
  </div>

  <div>
    <%= form.label :endDate, style: "display: block" %>
    <%= form.date_field :endDate %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
