<div id="<%= dom_id trip %>">
  <p>
    <strong>Tripname:</strong>
    <%= trip.tripName %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= trip.startDate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= trip.endDate %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trip.user_id %>
  </p>

</div>
